tap "homebrew/bundle"
brew "awscli"
brew "chezmoi"
brew "fd"
brew "ffmpeg"
brew "gh"
brew "jq"
brew "libyaml"
brew "mise"
brew "mysql"
brew "neovim"
brew "nkf"
brew "postgresql@17"
brew "ripgrep"
brew "tmux"
brew "tree"
brew "tree-sitter-cli"
brew "uv"
brew "watchman"
brew "wget"
brew "gmp"
cask "android-studio"
cask "claude"
cask "flutter"
cask "font-hack-nerd-font"
cask "wezterm"
{{ if eq .chezmoi.hostname "CC7437" -}}
cask "onedrive"
{{ end -}}
